<%- include('partials/header') -%>
  <div >
   <div class="row">
   
 
      <ul class="col-12 col-md-4 ">
        <% for(var i=0; i<posts.length; i++) {%>
          <li  class="" >
            <h2 class="card-title uppercase mb-4"><%= posts[i].title%></h2>
            <a  class="m-0"href="/post/<%= posts[i]._id%>">
               <img class="img-fluid sticky-top" style="top: 20px;" src="<%= posts[i].image%>">
            </a>
               <button></button>
               
            

            
           
          </li>
        <% } %>
        </ul>
      </div>
    </div>


 
<%- include('partials/footer') -%>



