


<%- include('partials/header') -%>
  
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

<ul class="flex flex-row card ">
  <% for(var i=0; i<posts.length; i++) {%>
    <li  class="" >
      <h2 class="card-title uppercase mb-4"><%= posts[i].title%></h2>
      <a  class="m-0"href="/post/<%= posts[i]._id%>">
        <div class="category__img category__img--large shadow">
          <img class="w-1/5 border border-sky-500" src="<%= posts[i].image%>">
        </div>
        
      </a>
         <button></button>
         
      

      
     
    </li>
  <% } %>
  </ul>
</div>
  
   


   
   

        

 
<%- include('partials/footer') -%>




 
